
body{
    background-image: url(https://i.postimg.cc/3RQSGTFh/images-26.jpg);
    overflow: auto;
   height: 100%;
   margin: 0;
font-size: 16px;
   
}
.navbar{
    height: 100vh;
    width: 25%;
   position: fixed;
   top: 0;
   z-index: 1000;
   background-color:  rgba(168, 22, 118, 1);
}

        .nav-item {
            background-color: rgba(255, 16, 240, 1);
            margin-bottom: 50px;
        }
        .navbar-item{
            padding-top:30px;
        }
        .links{width: 50px;
        padding: 10px;}
        .navbar-icon{width: 20px;}
        .navbar-logo{
            width: 100px;
            margin-right:10px ;
            padding: 10px;
        }
    
       footer {
            background-color: rgba(255, 16, 240, 1);  ;
            color: black;
            padding: 20px;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: left;
        }

#tog{
    position: absolute;
    top: 1%;
}
.image-container{text-align: center;}
.rounded-image{border-radius:100%;
border: 10px solid  rgba(168, 22, 118, 1);} 

.btn {
    background-color:  rgba(168, 22, 118, 1);
}
#container{

    text-align: center;
  color: black;
 
  margin: 0 0 0 17%;
    padding: 10px;
    margin-bottom: 0 0 0 10%;
    
  
}


.aza{
    margin:0 0 0 20%;
}
    .about-container {
        max-width: 600px;
        margin: 50px;
        font-size: x-large;
        padding: 20px;
     background-color:rgba(255, 16, 240, 1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 70px;

      
}
.about-content{
    display: flex;
}
#container-pic{
    margin: 0 0 0 50%;
    width: 500px;
   
 

}



.h1{
    @keyframes colorChange{
        0%{color:#9400d3;}
        50%{color: #301934;}
        100%{color: #ff0000;}
    }
     .h1{  animation: colorChange 3s infinite;}
}
.about-container p {
    margin: 5px 0 5px 0;
}



#text{ 
    height: 50%;
    margin: 0 0 0 auto;
    text-align: center;
   font-style: italic;
 
}

.education-container{
    
    margin: 0 0 0 10%;
}

 .skills-a{border-radius:100%;
    border: 10px solid rgba(255, 16, 240, 1);
    border:px;
    padding: 5px;
    margin-top: 15px;
 }   
.col{
    background-color:rgba(255, 16, 240, 1);
    margin: 0 0 0 18%;
    border-radius: 10px;
}

.container-skill{
    margin: 0 0 0 26%;
    padding: 10px;
  height: 27vh;
    
  
}
.navbar-icon1{
    width :70px;
}
@keyframes colorChange {
    0% { color:#4B0082; } 
    50% { color: blue; } 
    100% { color: red; } 
}
.animated-text{
    animation: colorChange 3s linear infinite;
}

#skill1{
  margin: 0 0 0 10%;
padding: 20px;
}
#skill2
{
    margin: 0 0 0 55%;
 padding: 20px;

}
.container-project2{
    margin: 0 0 0 25%;

  
}

#container-project{
margin: 0 0 0 24%;
height: 40vh;

}
.card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 

}
.card {
    background-color:rgba(255, 16, 240, 1);
    margin-bottom: 20px; 
    border-radius: 10px; 
   
}
#container-testimonial{
    margin: 0 0 0 30%;
   
}
#container-contact{
   margin: 0 0 0 50%;
   width: 500px;
   height: 40vh;
}

.testimonial {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    background-color:rgba(255, 16, 240, 1);
    margin: 0 0 0 40%;
  
  }
  
  
  .testimonial img {
    width: 100px;
    height: 100px;
    
  }
  .testimonial p {
    font-size: 16px;
    line-height: 1.4;
  }
  .testimonial p strong {
    font-weight: bold;
  }
  #test{
    margin: 0 0 0 14%;
  }


.contact-form {
  background-color:rgba(255, 16, 240, 1) ;
  color: #fff;
  padding: 40px;
  width: 980px;
  margin:0 0 0 30%;
  border-radius: 10px;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form input[type="submit"] {
  background-color: #4B0082;
  color: #fff;
  padding: 10px 15px;

  border: none;
  border-radius: 5px;
  cursor: pointer;}
  @media screen and (max-width: 600px) {
    header, nav, main, footer {
        width: 100%;
    }
}

  
